.todo_panel_container {
    background-color: #fff;
    box-shadow: 0 8px 11px -8px rgba(34, 60, 80, 0.09);
    margin-bottom: 15px;
    padding: 25px 20px;
    border-radius: 5px;
}

.fields_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.field_container {
    width: 100%;
}

.field_container label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.field_container input {
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    font-family: Arial, 'sans-serif';
    width: 100%;
}

.button_container {
    width: 100%;
    text-align: right;
}

/* Error message */

.error {
    border: 1px solid red;
}

.error_message {
    color: red;
    font-size: 12px;
}