.button {
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
}

.button_red {
    color: #d21919;
    transition: all .1s ease-in-out;
}

.button_red:hover {
    border-color: rgba(210, 25, 25, 0.1);
}

.button_orange {
    color: #d27c19;
    transition: all .1s ease-in-out;
}

.button_orange:hover {
    border-color: rgba(210, 102, 25, 0.1);
}

.button_blue {
    color: #1976d2;
    transition: all .1s ease-in-out;
}

.button_blue:hover {
    border-color: rgba(25, 118, 210, 0.1);
}