body {
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.todolist__container {
  padding: 20px;
  background-color: #cfd8de;
  border-radius: 20px;
}

.filter__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: #1666af;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}



.filter__buttons button {
  color: white;
  border-radius: 10px;
  font-family: Arial;
}




